.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f5f5f5;;
    width: 100%;
}

.header>div{
    padding: 6px;
}

.header>div>span{
    padding: 2px;
}

.logo{
    box-shadow: 0 0 10px black;
    background-color: white;
    padding: 0 5px;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header>.shop:hover{
    animation: bounce2 0.5s ease-in;
    cursor: pointer;
}

.header>.about-us:hover{
    cursor: pointer;
    animation: bounce2 0.5s ease-in;
}


/* bounce animation */

.bounce2 {
    animation: bounce2 1s ease-in;
  }
  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(12px);}
      60% {transform: translateY(7px);}
  }


  .extra>span>img:hover{
    filter: brightness(120%);
  }


/* Navbar Starting*/

.nav-bar>ul>li{
    display: inline-block;
    flex-direction: row;
    padding: 5px;
}

.nav-bar>ul{
    padding-left: 0px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 10px;
}

