body{
    background-color: rgb(24, 24, 24);
    color: rgb(148, 148, 148);
}
p{
    color: rgb(148, 148, 148);
}
.container{
    width: 60%;
    display: block;
    margin: 12px;
    float: right;
}
.heading{
    font-family: sans-serif;
    color:#fff;
}
a,.service-box i, i{
    color: aqua;
}
.service-box{
    width: 49%;
    display: inline-block;
}
.service-box i{
    font-size: 24px;
}
.bread-grums span{
    color: rgb(148, 148, 148);
    padding: 0 15px;
}
.first-row{
    margin-top: 5px;
    width: 8%;
    font-size: 20px;
    margin-bottom: 200px;
    padding-left: 4px;
}
.second-row{
    width: 8%;
    font-size: 18px;
    margin-bottom: 200px;
}
.second-row>.icon>i{
    margin-bottom: 15px;
    padding-left: 4px;
} 
.third-row{
    font-size: 21px;
}
.left-bar{
    width: 2%;
    height: 100%;
    display: inline-block;
    margin-left: 10px;
    padding: 4px;
    background-color: rgb(87, 87, 87);
    background-size: 100%;
    background-attachment: fixed;
    float: left;
}
img{
    width: 360px ;
    padding-left: 50px;
    opacity: 70%;
}